# Telegram Bot
BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11

# Database (bot)
DB_HOST=host.docker.internal
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=bikes_bot

# Database (market)
DB_HOST_MARKET=host.docker.internal
DB_PORT_MARKET=3306
DB_USERNAME_MARKET=root
DB_PASSWORD_MARKET=
DB_DATABASE_MARKET=boontar_market

# Logging
LOG_LEVEL=INFO
